<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>

<div style="display:flex;flex-direction:column;width:100%;align-items:center;flex-shrink:0;flex-grow:0">
  <img src="https://raw.githubusercontent.com/azure-wings/azure-wings.github.io/main/static/background.png">
</div>

{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
